<div class="container py-4">
    <div class="d-flex mb-3 justify-content-between align-items-center">
        <h4 class="m-0 brand gradient-text">Chatu | {{ me }} </h4>
        <div>
            <button class="btn btn-sm btn-outline-light me-2" (click)="refresh()">Refresh</button>
            <button class="btn btn-sm btn-danger" (click)="logout()">Logout</button>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-md-4 mb-3">
            <div class="card p-3 bg-card">
                <div class="card-top">
                    <h6 class="card-title gradient-text">Online Users</h6>
                </div>
                <ul class="list-unstyled small mb-3">
                    @for(u of users(); track u) {<li><span class="badge-online">{{ u }}</span></li>}
                </ul>
                <div class="card-top mt-3">
                    <h6 class="card-title">Active Groups</h6>
                </div>
                <ul class="list-unstyled small">
                    @for(g of groupKeys(); track g) { <li><span class="pill">{{ g }} ({{ groups()[g] }}) </span></li> }
                </ul>
            </div>
        </div>
        <div class="col-12 col-md-8">
            <div class="card p-3 bg-card">
                <div class="chat-window mb-2" #window>
                    @for (m of msgCache(); track $index){
                    <div class="mb-2">
                        <div [ngClass]="{'message-me': m.from===me, 'message-other': m.from!==me}">
                            <div class="message-bubble"> <strong class="small">{{m.from}} {{ (m.type) }}</strong>
                                <div>{{m.content}}</div>
                                <small class="text-muted">{{m.timeStamp}}</small>
                            </div>
                        </div>
                    </div>
                    }
                </div>
                <hr />
                <form class="d-flex gap-2 mt-2">
                    <input class="form-control" placeholder="recipient or Group Id" [(ngModel)]="recipient"
                        name="recipient" required />
                    <input class="form-control" placeholder="message" [(ngModel)]="newMessage" name="newMessage"
                        required />
                    <button class="btn btn-primary" (click)="onPrivateSend()">Send Private</button>
                    <button class="btn btn-primary" (click)="onGroupSend()">Send Group</button>
                </form>
            </div>
        </div>
    </div>
</div>